.header {
    width: 90vw;
    margin: 0;
    padding: 0;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 15px dotted #f353d8;
    padding: 20px 20px;
  }