.link {
    color: #df4dcc;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 15px;
    transition: 250ms ease-in-out;
    background-color: rgba(241, 101, 222, 0.363);
    margin-right: 15px;
  }