.linkReg {
    color: rgba(139, 0, 104, 0.964);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 15px;
    margin-right: 15px;
    background-color: #f34fd2c7;
  }
  
  .linkLog {
    color: #c924a8;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 15px;
    padding: 8px 15px;
    background-color: rgba(224, 55, 204, 0.338);
  }

  .linkLog:focus, 
  .linkLog:hover {
    color:rgba(251, 80, 208, 0.556)
  }