.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .registerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .label {
    width: 40%;
    color: #b73aab;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .loginBtn {
    margin-top: 20px;
    text-align: center;
  }
  
  .inputReg {
    width: 40%;
    margin: 0 auto;
  }